
@font-face {
    font-family: 'OldEnglishFive';
    src: url(/fonts/OldEnglishFive.ttf);
}
@font-face {
    font-family: 'NimbusRomNo9L-Med';
    src: url(/fonts/NimbusRomNo9L-Med.otf);
}
@font-face {
    font-family: 'SabatonsScriptDemo';
    src: url(/fonts/SabatonsScriptDEMO.ttf);
}
.img-mujer{
    object-fit: cover;
    width:100%;
}
.img-niños{
    background-color: bisque;
}

h1{
    display: inline;
    font-size: 45px;
}
h2{
    display: inline;
    font-size: 23px;
}
h3{
    display: inline;
    font-family: "NimbusRomNo9L-Med";
    font-size: 25px;
}
h4{
    font-family: "OldEnglishFive";
    font-size: 14px;
}
h5{
    font-family: "NimbusRomNo9L-Med";
    display: inline;
    font-size: xx-large;
}
h6{
    font-family: "SabatonsScriptDemo";
    display: inline;
    font-size: 50px;
}
p{
    font-family: "NimbusRomNo9L-Med";
    font-size: 12px;
    text-align: justify;
    padding: 2px;
}

body{
    background-color: black;
    width: calc(100vh - 60px);
    margin:auto;
}
header{
    background-color: aqua;
    width: 100%;
    display: inline-block;
    font-family: "OldEnglishFive";
}
main{
    background-color: yellow;
    width: 100%;
    height:700px;
    position: relative;
    display: inline-block;
}
.section1{
    background-color: brown;
    width: 50%;
    display: inline-block;
    position: absolute;
}
.section2{
    background-color:aliceblue;
    width: 55%;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.aside1{
    background-color: darkgreen;
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
}
.aside2{
    background-color: darkgreen;
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}
footer{
    background-color: darkslategrey;
    width: 100%;
}
